@charset "UTF-8";
@font-face {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 100;
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Display/sf-pro-display_ultralight.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 200;
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Display/sf-pro-display_thin.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 300;
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Display/sf-pro-display_light.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 500;
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Display/sf-pro-display_medium.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 600;
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Display/sf-pro-display_semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 700;
  src: local("â˜ºï¸Ž"), url("../font/sf-pro/SF-Pro-Display/sf-pro-display_bold.woff2");
}
@font-face {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sf-pro/SF-Pro-Display/sf-pro-display_regular.eot");
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Display/sf-pro-display_regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Text";
  font-style: normal;
  font-weight: 200;
  src: local("â˜ºï¸Ž"), url("../font/sf-pro/SF-Pro-Text/sf-pro-text_thin.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Text";
  font-style: italic;
  font-weight: 400;
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Text/sf-pro-text_regular-italic.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Text";
  font-style: normal;
  font-weight: 600;
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Text/sf-pro-text_semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Text-bold";
  font-style: normal;
  font-weight: 700;
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Text/sf-pro-text_bold.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Text-400";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sf-pro/SF-Pro-Text/sf-pro-text_regular.eot");
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Text/sf-pro-text_regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro-Icons";
  font-style: normal;
  font-weight: 300;
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Icons/SFProIcons_light.woff") format("woff");
}
@font-face {
  font-family: "SF-Pro-Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sf-pro/SF-Pro-Icons/SFProIcons_regular.eot");
  src: local("â˜ºï¸Ž"), url("../fonts/sf-pro/SF-Pro-Icons/SFProIcons_regular.woff") format("woff");
}
@font-face {
  font-family: "H3";
  font-style: normal;
  font-weight: 400;
  src: url("../font/sf-pro/SF-Pro-Display/sf-pro-display-regular.eot");
  src: local("â˜ºï¸Ž"), url("../font/sf-pro/SF-Pro-Display/sf-pro-display-regular.woff2") format("woff");
}
@font-face {
  font-family: "H3";
  font-style: normal;
  font-weight: 600;
  src: local("â˜ºï¸Ž"), url("../font/sf-pro/SF-Pro-Display/sf-pro-display_semibold.woff2") format("woff");
}
:root {
  --bg-color: hsla(0, 0%, 0%, 0.8);
  --nav-text: #bcbcbd;
}

* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3, h1 {
  font-family: "SF-Pro-Display";
}

header nav {
  background-color: var(--bg-color);
}
header nav a {
  color: var(--nav-text);
  transition: 400ms;
  font-weight: 400;
}
header nav a:hover {
  color: white;
}
header #navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
  margin: 0 auto;
  height: 44px;
  padding: 0 1rem;
  max-width: 1000px;
}
header #navbar svg {
  fill: white;
}
header #navbar li a {
  color: var(--nav-text);
}
header #navbar li a:hover {
  color: #fff;
  transition: 400ms;
}

#bottom-header {
  font-size: 12px;
  padding: 1rem;
  line-height: 22px;
  border-bottom: 1px solid #ccc;
}
#bottom-header h3 {
  font-size: 21px;
  line-height: 24px;
  font-family: "H3";
  font-weight: 600;
}
#bottom-header a {
  color: #333;
}

#bottom-header-inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#bottom-header-inner a {
  margin: 0 0.5rem;
}
#bottom-header-inner .btn_buy {
  background-color: #0071e3;
  border-radius: 10rem;
  padding: 0.4rem 1rem;
  color: white;
  line-height: 21px;
  font-size: 12px;
  font-family: helvetica;
}

.btn_buy {
  background-color: #0071e3;
  border-radius: 10rem;
  padding: 0.4rem 1rem;
  color: white;
  line-height: 21px;
  font-size: 1px;
  font-family: helvetica;
}

#ribbon {
  text-align: center;
  padding: 1rem;
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: 0.875rem;
  line-height: 20px;
}
#ribbon a {
  color: #0066cc;
}

#main-content {
  text-align: center;
  color: #1d1d1f;
  display: flex;
  flex-direction: column;
}
#main-content #title {
  font-family: "H3";
  font-weight: 600;
  margin: 1rem;
  font-size: 1.3125rem;
}
#main-content #subtitle {
  font-family: "h3";
  font-weight: 600;
  margin: 1rem;
  font-size: 4rem;
}
#main-content #description {
  max-width: 600px;
  margin: 1rem auto;
  font-size: 1.3125rem;
  line-height: 1.8125rem;
}
#main-content #price {
  font-size: 1.4rem;
  color: #86868b;
  margin: 2rem;
}
#main-content .btn_buy {
  font-size: 1.4rem;
  padding: 0.8rem 1.4rem;
  align-self: center;
}
#main-content #product-image {
  max-width: 1000px;
  margin: 3rem auto;
  opacity: 1;
  transition: 500ms;
}
#main-content #product-image.changing {
  max-width: 1000px;
  margin: 3rem auto;
  opacity: 0.5;
  transition: 500ms;
}
#main-content #image-picker {
  margin-bottom: 150px;
}
#main-content #image-picker ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#main-content #image-picker li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#main-content #image-picker li .color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 1px 1px 1px;
  padding: 0.25rem;
  border: 4px solid #fff;
  pointer-events: none;
}
#main-content #image-picker li .description {
  font-size: 0.75rem;
  color: #1d1d1f;
  margin-top: 0.6rem;
}
#main-content #image-picker #green .color {
  background-color: #394c38;
}
#main-content #image-picker #silver .color {
  background-color: #f1f2ed;
}
#main-content #image-picker #golden .color {
  background-color: #fae7cf;
}
#main-content #image-picker #grafite .color {
  background-color: #54524f;
}
#main-content #image-picker #blue .color {
  background-color: #a7c1d9;
}

/*# sourceMappingURL=index.css.map */
